.nav-bar{
    text-decoration: none;
    padding: 10px;
    background: red;


}
nav{
    display: flex;
    justify-content: space-around;
}

@media(max-width: 300px) {
    nav{
        background: black;
        flex-direction: column;
    }

}

.nav-bar{
    margin: 10px 0px;
}